.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.5rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 100%;
    flex-direction: column-reverse;

    img {
      margin-top: 1.25rem;
      height: 421px;
    }
  }

  @media (max-width: 425px) {
    img {
      display: none;
    }
  }

  @media (orientation: landscape) and (max-width: 1000px) {
    margin-top: 4rem;

    img {
      height: 321px;
    }
  }
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.75rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }

  @media (orientation: landscape) and (max-width: 1000px) {
    h1 {
      font-size: 3.2rem;
    }
  }

  @media (max-width: 768px) {
    margin-top: 1.25rem;

    h1 {
      font-size: 3.2rem;
    }
  }

  @media (max-width: 425px) {
    margin-top: 4rem;
  }

  @media (max-width: 320px) {
    margin-top: 2rem;
  }
}
