.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 3.5rem;

  display: flex;

  align-items: center;

  .logoMobile {
    display: none;
  }

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: 600;
      }

      &.active::after {
        content: '';
        height: 3px;
        width: 100%;
        border-radius: 3px 3px 0 0;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: auto;
  }

  @media (max-width: 768px) {
    padding: 0 3rem;
    justify-content: space-between;

    .logoDesktop {
      display: none;
    }

    .logoMobile {
      display: block;
    }

    nav {
      margin-left: 0;
    }

    button {
      margin-left: 0;
    }
  }
}
